@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap%27");
@font-face{
    font-family: 'AmsterdamThreeSlant';
    src: url('fonte/amsterdam-three-slant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 2560px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-color: #586a40;
}
#home{
    background-image: url('Imagens/home/fundo-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 110%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
}
.cabecalho{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #586a40;
}
.logoimg{
    background-color: #d4a70c;
    height: 70px;
    margin-left: 5vw;
}
.logoimg img{
    height: 70px;
}
@media (max-width: 768px){
    .logoimg{
        margin-left: -3rem;
    }
};
.nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 30px;
    list-style: none;
    margin-top: 15px;
    margin-left: 220px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
}
.nav ul li a{
    text-decoration: none;
}
.home a{
    color: #d4a70c;
}
.sobre a{
    color: white;
}
.menu a{
    color: white;
}
.home:hover{
    font-size: 33px;
}
.sobre:hover{
    font-size: 33px;
}
.menu:hover{
    font-size: 33px;
}
@media (max-width: 768px){
    .nav{
        display: none;
    }
};
.cabecalho .pedido{
    height: 40px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d4a70c;
    border: none;
    color: white;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    margin-left: 160px;
}
.pedido a{
    text-decoration: none;
    color: white;
}
.cabecalho .pedido:hover{
    background-color: #b18d0b;
}
@media (max-width: 768px){
    .pedido{
        display: none
    }
};
.redes ul{
    margin-right: ;
}
