@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap%27");
@font-face{
    font-family: 'AmsterdamThreeSlant';
    src: url('fonte/amsterdam-three-slant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 2560px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-color: #586a40;
}
#home{
    background-image: url('Imagens/home/fundo-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
}
.cabecalho{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.logoimg{
    height: 70px;
    margin-left: 3vw;
}
.logoimg img{
    height: 70px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 30px;
    list-style: none;
    margin-top: 15px;
    margin-left: 220px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
}
.nav ul li a{
    text-decoration: none;
}
.home a{
    color: #d4a70c;
}
.sobre a{
    color: white;
}
.menu a{
    color: white;
}
.home:hover{
    font-size: 33px;
}
.sobre:hover{
    font-size: 33px;
}
.menu:hover{
    font-size: 33px;
}
.cabecalho .pedido{
    height: 40px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d4a70c;
    border: none;
    color: white;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    margin-left: 160px;
}
.pedido a{
    text-decoration: none;
    color: white;
}
.cabecalho .pedido:hover{
    background-color: #b18d0b;
}
.redes ul{
    margin-right: 20px;
    list-style: none;
    display: flex;
    gap: 15px;
}
.redes ul li button{
    border: none;
    height: 0px;
    margin-top: 17px;
}
.redes ul li button i{
    font-size: xx-large;
}
.WhatsApp i:hover{
    font-size: 38px;
}
.Instagram i:hover{
    font-size: 38px;
}
.conteudo{
    height: 85vh;
    display: flex;
    flex-direction: row;
    top: 0;
}
.imagem-esquerda{
    width: 310px;
}
.imagem-esquerda img{
    height: 650px;
}
.caixa-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 52vw;
    color: white;
    margin-top: 14vh;
}
.texto1{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    display: flex;
    float: left;
    margin-left: -21vw;
}
.texto2{
    font-family: 'AmsterdamThreeSlant', cursive;
    font-size: 5.9rem;
    height: 7.9vh;
    display: flex;
    align-items: center;
}
.texto3{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    margin-top: 15.5vh;
}
.conteudo .caixa-texto .botao-menu{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #d4a70c;
    display: flex;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    margin-top: 3vh;
}
.botao-menu a{
    text-decoration: none;
    color: #d4a70c;
}

.conteudo .caixa-texto .botao-menu:hover, .botao-menu a:hover{
    background-color: #d4a70c;
    color: white;
}

.imagem-direita{
    width: 333px;
    display: flex;
    justify-content: right;
    align-items: left;
}
.imagem-direita img{
    height: 620px;
}
#sobre{
    display: flex;
    position: relative;
    z-index: -2;
    height: 105.2vh;
    width: 100%;
}
.imagem-larissa{
    width: 33.5vw;
    height: 92vh;
    display: flex;
    align-items: center;
}
.linha{
    display: flex;
    flex-direction: column;
}
.texto4{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 1.88rem;
    color: white;
    width: 35vw;
    margin-top: 12vh;
}
.texto5{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 1.45rem;
    color: #ede7d4;
    width: 63vw;
    z-index: 1;
}
.texto6{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 1.88rem;
    color: white;
    display: flex;
    justify-content: right;
    width: 56.78vw;
}
.texto7{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 1.45rem;
    color: #ede7d4;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 56.78vw;
    gap: 3vh;

}
.texto8{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: bold;
    color: #d4a70c;
    display: flex;
    justify-content: right;
    width: 56.78vw;
    margin-top: 0.8vh;
    margin-left: -2.56vw;
}
.folha-direita-sobre{
    width: 25px;
    display: flex;
    justify-content: right;
    margin-right: 50px;
    z-index: -1;
    position: absolute;
}
.folha-direita-sobre img{
    z-index: -1;
}
.redes-sobre{
    display: flex;
    background-color: #7d995c;
    width: 100%;
    height: 59.2vh;
    border-radius: 10px;
}
.esquerda{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.logo-redes{
    margin-top: 2.4vh;
    z-index: 1;
}
.redes2{
    width: 10.99vw;
    height: 9.6vh;
    margin-left: 9.52vw;
    margin-top: -1.6vh;
    z-index: 1;
}
.redes2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 15px;
}
.redes2 ul li button{
    border: none;
    height: 0vh;
    margin-top: 2.72vh;
}
.redes2 ul li button i{
    font-size: xxx-large;
}
.WhatsApp2 i:hover{
    font-size: 3.75rem;
}
.Instagram2 i:hover{
    font-size: 3.75rem;
}
.caixa-texto2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 27.11vw;
    margin-top: -37vh;
    z-index: 1;
}
.texto9{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: white;
}
.subtexto{
    display: flex;
    flex-direction: column;
    margin-top: 0.8vh;
    margin-left: 0.75vw;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    gap: 5px;
}
.p1{
    font-size: 1.56rem;
    color: #ebe2c4;
}
.p2{
    font-size: 1.31rem;
    color: white;
}
.p3{
    font-size: 1.31rem;
    color: #ebe2c4;
}
.direita{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 40%;
}
.chapeu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 8vh;
    width: 7.33vw;
    margin-top: 9.8vh;
    margin-left: 12.38vw;
    z-index: 1;
}
.chapeu img{
    width: 21.98vw;
}
.caixa-texto3{
    margin-right: 6.59vw;
    margin-top: 15.4vh;
}
.texto10{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    color: white;
}
.subtexto2{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
}
.p4{
    font-size: 1.56rem;
    color: #ebe2c4;
}
.p5{
    font-size: 1.31rem;
    color: white;
}
.redes3{
    width: 10.99vw;
    height: 9,6vh;
    margin-left: 23.44vw;
    z-index: 1;
}
.redes3 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 15px;
}
.redes3 ul li button{
    border: none;
    height: 0vh;
    margin-top: 2.72vh;
}
.redes3 ul li button i{
    font-size: xxx-large;
}
.WhatsApp3 i:hover{
    font-size: 3.75rem;
}
.Instagram3 i:hover{
    font-size: 3.75rem;
}


#menu{
    position: relative;
    width: 100%;
}
.caixas{
    display: flex;
    flex-direction: row;
    background-color: rgba(240, 248, 255, 0.281);
}
.caixa-esq{
    width: 39%;
    background-color: rgba(0, 255, 255, 0.151);
}
.esq-cima{
    display: flex;
    margin-top: -29vh;
    background-color: rgba(255, 255, 0, 0.233);
}
.esq-cima img{
    display: flex;
    z-index: -2;
}

.title-combo{
    display: flex;
    height: 12vh;
    width: 17.58vw;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 1000px;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 0.94rem;
    left: 16.7vw;
    margin-top: -14.4vh;
}

.caixa-drt{
    width: 39%;
    background-color: rgba(0, 255, 255, 0.274);
}

.caixa-texto-esq{
    display: flex;
    flex-direction: column;
    width: 29.3vw;
    margin-left: 12.45vw;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    color: #ede7d4;
    background-color: rgba(0, 0, 0, 0.301);
}

.pe1{
    display: flex;
    margin-top: 3.2vh;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    color: #d4a70c;
    font-size: 1.25rem;
    background-color: rgba(128, 0, 128, 0.322);
}

.pe2{
    display: flex;
    flex-direction: column;
    margin-left: 1.46vw;
    background-color: rgba(231, 6, 194, 0.39);
}

.pe2 li{
    margin-top: 0.8vh;
    font-size: 1.25rem;
}

.pe3{
    display: flex;
    margin-left: 20.51vw;
    margin-top: -20vh;
    color: white;
    font-size: 1.5rem;
    background-color: #d4a90c4f;
}

.pe4{
    display: flex;
    margin-top: 2.4vh;
    color: white;
    font-size: 1.44rem;
    background-color: rgba(165, 42, 42, 0.349);
}

.pe5{
    display: flex;
    flex-direction: column;
    margin-top: 2.4vh;
    margin-left: 1.46vw;
    background-color: rgba(216, 112, 147, 0.349);
}

.pe5 li{
    margin-top: 0.8vh;
    font-size: 1.25rem;
}

.pe6{
    display: flex;
    flex-direction: column;
    margin-left: 20.51vw;
    margin-top: -31.68vh;
    color: white;
    font-size: 1.25rem;
    gap: 5px;
    list-style: point;
    background-color: rgba(184, 135, 11, 0.342);
}

.pe7{
    margin-top: 2.4vh;
    color: #d4a70c;
    font-size: 1.56rem;
    background-color: rgba(0, 0, 0, 0.445);
}

.esq-baixo{
    display: flex;
    margin-top: -125px;
    z-index: -2;
    background-color: rgba(255, 255, 0, 0.171);
}
.esq-baixo img{
    display: flex;
    z-index: -2;
}

.caixa-meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    background-color: #49406a6c;
}
.img-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgba(255, 2, 2, 0.164);
}
.img-meio img{
    width: 270px;
    height: auto;
}

.botao-pedido{
    justify-content: center;
    height: 8vh;
    width: 14.65vw;
    margin-top: 545px;
    border-radius: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d4a70c;
    border: none;
    color: white;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 1.19rem;
}
.botao-pedido:hover{
    background-color: #d4a70c;
}

.title-menu{
    display: flex;
    flex-direction: row;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 1.1vw;
    margin-top: 11vh;
    font-size: 1.56rem;
    background-color: #02ff418a;
}

.title-lasanha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13.19vw;
    height: 9.6vh;
    position: relative;
    justify-content: center;
    border: 2px solid white;
    color: white;
    border-radius: 1000px;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 0.94rem;
    margin-top: 16.8vh;
}

.caixa-texto-drt{
    display: flex;
    flex-direction: column;
    width: 29.3vw;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    color: #ede7d4;
    background-color: rgba(222, 184, 135, 0.562);
}

.pd1{
    display: flex;
    color: white;
    font-size: 1.44rem;
    margin-top: 1.6vh;
    background-color: rgba(216, 112, 147, 0.397);
}

.pd2{
    display: flex;
    flex-direction: column;
    margin-top: 0.8vh;
    margin-left: 1.46vw;
    background-color: rgba(0, 0, 255, 0.342);
}

.pd2 li{
    margin-top: 0.8vh;
    font-size: 1.25rem;
}

.pd3{
    display: flex;
    margin-top: 15px;
    color: white;
    font-size: 1.44rem;
    background-color: rgba(137, 43, 226, 0.397);
}

.pd4{
    display: flex;
    flex-direction: column;
    margin-top: 0.8vh;
    margin-left: 1.46vw;
    background-color: rgba(95, 158, 160, 0.493);
}

.pd4 li{
    margin-top: 0.8vh;
    font-size: 1.25rem;
}

.pd5{
    margin-top: 3.2vh;
    display: flex;
    font-size: 1.56rem;
    color: #d4a70c;
    text-align: right;
    margin-left: 1.46vw;
    background-color: rgba(0, 0, 0, 0.37);
}

.imagem-drt{
    display: flex;
    z-index: -100;
    margin-top: -120px;
    width: 1px;
    background-color: rgba(255, 255, 0, 0.219);
}

.imagem-drt img{
    display: flex;
    z-index: -10;
    margin-left: 180px;
    margin-top: -585px;
    width: 370px;
}

.carrossel{
    display: flex;
    margin-top: -235px;
    background-color: rgba(210, 105, 30, 0.664);
}
.carrossel img{
    display: flex;
    z-index: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.2vh;
    background-color: rgba(0, 255, 255, 0.288);
}

.qrcode img{
    width: 3vw;
    border: 3px solid #ebe2c4;
    border-radius: 5px;
}


/* RESPONSIVIDADE ATÉ 1080px de largura */

@media (max-width: 1080px){
    body{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #home{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav{
        display: none;
    }
    .logoimg{
        margin-left: -2rem;
    }
    .cabecalho .pedido{
        display: none;
    }
    .redes{
        margin-right: -1rem;
    }
    .conteudo{
        width: 90vw;
        margin: auto;
        justify-content: center;
    }
    .conteudo .imagem-esquerda{
        display: none;
    }
    .conteudo .imagem-direita{
        display: none;
    }
    .caixa-texto{
        width: 87vw;
    }
    .texto1{
        font-size: 1rem;
        margin-left: -49vw;
    }
    .texto2{
        font-size: 3.5rem;
        height: 5vh;
    }
    .texto3{
        font-size: 0.85rem;
        margin-top: 11vh;
    }
    #sobre{
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;
    }
    .imagem-larissa{
        display: none;
    }
    .texto4{
        font-size: 1rem;
        width: 50vw;
        margin-top: 4vh;
    }
    .texto5{
        font-size: 0.85rem;
        width: 78vw;
    }
    .texto6{
        font-size: 1rem;
        width: 78vw;
    }
    .texto7{
        font-size: 0.85rem;
        width: 78vw;
    }
    .texto8{
        font-size: 0.55rem;
        width: 79vw;
        margin-right: 4vw;
    }
    .folha-direita-sobre{
        margin-left: 99vw;
        margin-top: 30vh;
    }
    .folha-direita-sobre img{
        width: 200vw;
    }
    .redes-sobre{
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
    }
    .esquerda{
        width: 50%;
    }
    .logo-redes{
        height: 19vh;
        margin-left: 20vw;
    }
    .logo-redes img{
        width: 200vw;
    }
    .redes2{
        margin-top: vh;
        margin-left: 44vw;
    }
    .redes2 ul li button i{
    font-size: xx-large;
    }
    .WhatsApp2 i:hover{
    font-size: 3.3rem;
    }
    .Instagram2 i:hover{
    font-size: 3.3rem;
    }
    .caixa-texto2{
        width: 46vw;
        margin-top: 4.5vh;
        margin-left: 3vw;
    }
    .texto9{
        font-size: 1rem;
    }
    .p1{
        font-size: 1.21rem;
    }
    .p2{
        font-size: 1.1rem;
    }
    .p3{
        font-size: 1.1rem;
    }
    .direita{
        width: 50%;
    }
    .chapeu{
        margin-top: 28.7vh;
        margin-left: 3vw;
    }
    .chapeu img{
        width: 35vw;
    }
    .caixa-texto3{
        margin-right: 3vw;
        margin-top: 33.9vh;
    }
    .texto10{
        font-size: 1rem;
    }
    .p4{
        font-size: 1.21rem;
    }
    .p5{
        font-size: 1.1rem;
    }
    .redes3{
        display: none;
    }
    #menu{
        width: 100%;
        height: 200vh;
        display: flex;
        flex-direction: column;
    }
    .caixas{
        flex-direction: column;
    }
    .caixa-esq{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .esq-cima{
        display: none;
    }
    .esq-baixo{
        display: none;
    }
    .title-combo{
        font-size: 0.8rem;
        width: 65vw;
        margin-top: 5vh;
    }
    .caixa-texto-esq{
        width: 87vw;
        margin-left: 5vw;
    }
    .pe1{
        font-size: 1rem;
    }
    .pe2{
        margin-top: 1vh;
    }
    .pe2 li{
        font-size: 1.25rem;
    }
    .pe3{
        width: 20vw;
        font-size: 1.23rem;
        margin-top: -20vh;
        margin-left: 69vw;
    }
    .p4{
        font-size: 1.35rem;
    }
    .pe5{
        margin-top: 1vh;
    }
    .pe5 li{
        font-size: 1.18rem;
    }
    .pe6{
        width: 22vw;
        font-size: 1.20rem;
        margin-top: -33.5vh;
        margin-left: 69vw;
    }
    .pe7{
        font-size: 1.4rem;
    }
    .img-meio{
        display: none;
    }
    .caixa-meio{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .botao-pedido{
        width: 63vw;
        margin-top: 5vh;
        font-size: 1.1rem;
    }
    .caixa-drt{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .imagem-drt{
        display: none;
    }
    .title-menu{
        display: none;
    }
    .title-lasanha{
        margin-top: 7vh;
        font-size: 0.95rem;
        width: 50vw;
    }
    .caixa-texto-drt{
        width: 87vw;
        margin-left: -3vw;
    }
}
