@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap%27");
@font-face{
    font-family: 'AmsterdamThreeSlant';
    src: url('fonte/amsterdam-three-slant.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1920px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    background-color: #586a40;
}
#home{
    background-image: url('Imagens/home/fundo-home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 110%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
}
.cabecalho{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #586a40;
}
.logoimg{
    height: 100px;
    margin-left: 80px;
}
.logoimg img{
    height: 70px;
}
.nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-size: 30px;
    list-style: none;
    margin-top: 15px;
    margin-left: 220px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
}
.nav ul li a{
    text-decoration: none;
}
.home a{
    color: #d4a70c;
}
.sobre a{
    color: white;
}
.menu a{
    color: white;
}
.home:hover{
    font-size: 33px;
}
.sobre:hover{
    font-size: 33px;
}
.menu:hover{
    font-size: 33px;
}
.cabecalho .pedido{
    height: 40px;
    margin-top: 15px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d4a70c;
    border: none;
    color: white;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    margin-left: 160px;
}
.pedido a{
    text-decoration: none;
    color: white;
}
.cabecalho .pedido:hover{
    background-color: #b18d0b;
}
.redes ul{
    margin-right: 20px;
    list-style: none;
    display: flex;
    gap: 15px;
}
.redes ul li button{
    border: none;
    height: 0px;
    margin-top: 17px;
}
.redes ul li button i{
    font-size: xx-large;
}
.WhatsApp i:hover{
    font-size: 38px;
}
.Instagram i:hover{
    font-size: 38px;
}
.conteudo{
    height: 600px;
    display: flex;
    flex-direction: row;
    top: 0;
}
.imagem-esquerda{
    width: 310px;
}
.imagem-esquerda img{
    height: 650px;
}
.caixa-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1px;
    width: 700px;
    color: white;
    margin-top: 90px;
}
.texto1{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 29px;
    display: flex;
    float: left;
    margin-left: -290px;
}
.texto2{
    font-family: 'AmsterdamThreeSlant', cursive;
    font-size: 95px;
    height: 50px;
    display: flex;
    align-items: center;
}
.texto3{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 100px;
}
.conteudo .caixa-texto .botao-menu{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #d4a70c;
    display: flex;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    margin-top: 20px;
}
.botao-menu a{
    text-decoration: none;
    color: #d4a70c;
}

.conteudo .caixa-texto .botao-menu:hover, .botao-menu a:hover{
    background-color: #d4a70c;
    color: white;
}

.imagem-direita{
    width: 333px;
    display: flex;
    justify-content: right;
    align-items: left;
}
.imagem-direita img{
    height: 620px;
}
#sobre{
    display: flex;
    position: relative;
    background-color: #586a40;
    z-index: -2;
    height: 685px;
    width: 100%;
}
.imagem-larissa{
    width: 458px;
    height: 600px;
    display: flex;
    align-items: center;
}
.linha{
    display: flex;
    flex-direction: column;
}
.texto4{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    width: 500px;
    margin-top: 75px;
}
.texto5{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 23.2px;
    color: #ede7d4;
    width: 860px;
    z-index: 1;
}
.texto6{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: right;
    width: 775px;
}
.texto7{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    font-size: 23.2px;
    color: #ede7d4;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 775px;
    gap: 20px;

}
.texto8{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #d4a70c;
    display: flex;
    justify-content: right;
    width: 775px;
    margin-top: 5px;
    margin-left: -35px;
}
.folha-direita-sobre{
    width: 25px;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
.folha-direita-sobre img{
    z-index: -1;
}
.redes-sobre{
    display: flex;
    background-color: #7d995c;
    width: 100%;
    height: 370px;
    border-radius: 10px;
}
.esquerda{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.logo-redes{
    margin-top: 15px;
    z-index: 1;
}
.redes2{
    width: 150px;
    height: 60px;
    margin-left: 130px;
    margin-top: -10px;
    z-index: 1;
}
.redes2 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 15px;
}
.redes2 ul li button{
    border: none;
    height: 0px;
    margin-top: 17px;
}
.redes2 ul li button i{
    font-size: xxx-large;
}
.WhatsApp2 i:hover{
    font-size: 60px;
}
.Instagram2 i:hover{
    font-size: 60px;
}
.caixa-texto2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 370px;
    margin-top: -240px;
    z-index: 1;
}
.texto9{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.subtexto{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 10px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    gap: 5px;
}
.p1{
    font-size: 25px;
    color: #ebe2c4;
}
.p2{
    font-size: 21px;
    color: white;
}
.p3{
    font-size: 21px;
    color: #ebe2c4;
}
.direita{
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 40%;
}
.chapeu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width: 100px;
    margin-top: 63px;
    margin-left: 169px;
    z-index: 1;
}
.chapeu img{
    width: 300px;
}
.caixa-texto3{
    margin-right: 90px;
    margin-top: 100px;
}
.texto10{
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
}
.subtexto2{
    font-family: Pompiere, Arial, Helvetica, sans-serif;
}
.p4{
    font-size: 25px;
    color: #ebe2c4;
}
.p5{
    font-size: 21px;
    color: white;
}
.redes3{
    width: 150px;
    height: 60px;
    margin-left: 320px;
    z-index: 1;
}
.redes3 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 15px;
}
.redes3 ul li button{
    border: none;
    height: 0px;
    margin-top: 17px;
}
.redes3 ul li button i{
    font-size: xxx-large;
}
.WhatsApp3 i:hover{
    font-size: 60px;
}
.Instagram3 i:hover{
    font-size: 60px;
}


#menu{
    position: relative;
    width: 100%;
}
.caixas{
    display: flex;
    flex-direction: row;
}
.caixa-esq{
    width: 39%;
}
.esq-cima{
    display: flex;
    margin-top: -190px;
}
.esq-cima img{
    display: flex;
    z-index: -2;
}

.title-combo{
    display: flex;
    height: 75px;
    width: 240px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 1000px;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 15px;
    left: 228px;
    margin-top: -90px;
}

.caixa-drt{
    width: 39%;
}

.caixa-texto-esq{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 170px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    color: #ede7d4;
}

.pe1{
    display: flex;
    margin-top: 20px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    color: #d4a70c;
    font-size: 20px;
}

.pe2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.pe2 li{
    margin-top: 5px;
    font-size: 20px;
}

.pe3{
    display: flex;
    margin-left: 280px;
    margin-top: -125px;
    color: white;
    font-size: 20px;
}

.pe4{
    display: flex;
    margin-top: 15px;
    color: white;
    font-size: 23px;
}

.pe5{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 20px;
}

.pe5 li{
    margin-top: 5px;
    font-size: 20px;
}

.pe6{
    display: flex;
    flex-direction: column;
    margin-left:280px ;
    margin-top: -198px;
    color: white;
    font-size: 20px;
    gap: 5px;
    list-style: point;
}

.pe7{
    margin-top: 15px;
    color: #d4a70c;
    font-size: 25px;
}

.esq-baixo{
    display: flex;
    margin-top: -125px;
    z-index: -2;
}
.esq-baixo img{
    display: flex;
    z-index: -2;
}

.caixa-meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
}
.img-meio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.img-meio img{
    width: 270px;
    height: auto;
}

.botao-pedido{
    justify-content: center;
    height: 50px;
    width: 200px;
    margin-top: 545px;
    border-radius: 100px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d4a70c;
    border: none;
    color: white;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 19px;
}
.botao-pedido:hover{
    background-color: #d4a70c;
}

.title-menu{
    display: flex;
    flex-direction: row;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 15px;
    margin-top: 70px;
    font-size: 25px;
}

.title-lasanha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    position: relative;
    justify-content: center;
    border: 2px solid white;
    color: white;
    border-radius: 1000px;
    font-family: Special Elite, serif, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 105px;
}

.caixa-texto-drt{
    display: flex;
    flex-direction: column;
    width: 400px;
    font-family: Pompiere, Arial, Helvetica, sans-serif;
    color: #ede7d4;
}

.pd1{
    display: flex;
    color: white;
    font-size: 23px;
    margin-top: 10px;
}

.pd2{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 20px;
}

.pd2 li{
    margin-top: 5px;
    font-size: 20px;
}

.pd3{
    display: flex;
    margin-top: 15px;
    color: white;
    font-size: 23px;
}

.pd4{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 20px;
}

.pd4 li{
    margin-top: 5px;
    font-size: 20px;
}

.pd5{
    margin-top: 20px;
    display: flex;
    font-size: 25px;
    color: #d4a70c;
    text-align: right;
    margin-left: 20px;
}

.imagem-drt{
    display: flex;
    z-index: -100;
    margin-top: -120px;
    width: 1px;
}

.imagem-drt img{
    display: flex;
    z-index: -10;
    margin-left: 180px;
    margin-top: -585px;
    width: 370px;
}

.carrossel{
    display: flex;
    margin-top: -235px;
}
.carrossel img{
    display: flex;
    z-index: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}